<div class="{{cssSizes}} m-b">
  <div class="statcard">
    <div class="p-a">
      <span class="statcard-desc">{{title}}</span>
      <h2 class="statcard-number">
        {{value}}
        {{!-- <small class="label label-success">5%</small> --}}
      </h2>
    </div>
  </div>
</div>
{{yield}}
