<h1>Companies Index</h1>
<h2>Total companies: {{model.length}}</h2>

<ul>
{{#each model as |company|}}
	<li>
		{{#link-to 'companies.show' company }}	
			{{company.name}}
		{{/link-to}}
	</li>
{{/each}}
</ul>