<h2>List: {{model.length}}</h2>

<div class="list-group">
  	
  	{{#each model as |company|}}

  		<li class="list-group-item">
    		{{link-to company.name "companies.show" company}}
    		<span class="pull-right">
    			<a href="#" {{action "delete" company}}>
						<span class="icon icon-squared-cross"></span>
    			</a>
    		</span>
  		</li>
		{{/each}}
  
</div>

{{link-to "Create A New Company" "companies.new" classNames='btn btn-primary btn-lg' }}
